.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.addNewSushiInputForm {
  display: block;
  margin: 20px;
  padding: 20px;
}

.addNewSushiButton {
  margin-left: 55px; 
}

.sushiCell {
  display: inline-block;
  background-color: lightgray;
  float: left;
}

.clearFloat {
  clear:left;
}

.leftMenu {
  /*background-color: darkturquoise;*/
  width: 60%;
  display: inline-block;
}
.rightMenu {
  float: right;
  /*background-color: deepskyblue;*/
  display: inline-block;
}

.billHide {
  display: none;
}
.billShow {
  
}

.customerInfo {
  background-color: yellow;
}

.emailBillHide {
  display: none;
}

.emailBillShow {

}

.hide {
  display: none;
}

.show {

}











